<%- include('partials/header.ejs'); -%>

<main
  class="flex-grow-1 d-flex justify-content-center align-items-center text-center"
>
  <div class="container">
    <form class="item" action="/add" method="post">
    <div class="card">
      <div class="card-header">Book to Review</div>
      <div class="card-body">
        <input type="hidden" name="title" value="<%= title %>" />
        <input type="hidden" name="author" value="<%= author %>" />
        <input type="hidden" name="isbn" value="<%= isbn %>" />
        <input type="hidden" name="cover" value="<%= cover %>" />
        <h5 class="card-title"><%= title %></h5>
        <p><%= author %></p>
        <p>ISBN: <%= isbn %> </p>
        <img
          src= <%= cover %>
          class="book-cover"
        />
        <hr>
        <button id="addButton" type="submit" class="btn btn-primary" >Add Book</button>
      </div>
    </div>
  </form>
  </div>
</main>

<%- include('partials/footer.ejs'); -%>
