<%- include('partials/header.ejs'); -%>

<section
  class="flex-grow-1 d-flex justify-content-center align-items-center text-center"
>
  <div class="container">
    <div class="card">
      <div class="card-header">Book Review</div>
      <div class="card-body">
        <h5 class="card-title"><%= title %></h5>
        <img
          src= <%= cover %>
          class="book-cover"
        />
        <p class="card-text"><%= review %></p>

        <form class="edit" id="review" action="/page" method="post">
          <input type="hidden" name="updatedItemId" value="<%= review %>" />
          <input
            id="input<%=review%>"
            type="text"
            name="updatedItemTitle"
            value="<%= review %>"
            autocomplete="off"
            autofocus="true"
            hidden="true"
          />
          </form>
        <a class="btn btn-primary" onclick="handler()" >Edit Review</a>
        <a href="#" class="btn btn-success">Add Book</a>
      </div>
    </div>
  </div>
  <script>
    function handler() {
      //document.getElementById(id).setAttribute("hidden", false);
      console.log("Pressed");
    }
  </script>
</section>

<%- include('partials/footer.ejs'); -%>
